* {
    color: white;
    padding: 0;
    margin: 0;
}
strong {
    color: rgb(190, 5, 190);
}
body {
    background-color: hsl(233, 47%, 7%);
}
main {
    display: flex;
    justify-content: center;
    margin: 10%;
}
#text {
    background-color: hsl(244, 38%, 16%);
    padding: auto;
    border-radius: 10px 0 0 10px;
    max-width: 100%;
    max-height: 100%;
}
.heading {
    margin-bottom: 5%;
    padding: 10%;
    max-width: auto;
}
.heading h1 {
    font-size: 45px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.heading p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 10%;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 3px;
}
.stats {
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}
.stats h3 {
    font-size: 25px;
}
.stats p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}
.images img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
img {
    border-radius: 0 10px 10px 0;
}
/**** media query****/
@media screen and (max-width: 428px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        margin: none;
        text-align: center;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    #text {
        padding: 5%;
        border-radius: 0 0 10px 10px;
    }
    .heading h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .heading p {
        font-size: 15px;
        min-width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .stats {
        display: grid;
        grid-gap: 30px;
    }
    .stats p {
        font-size: 12px;
    }
    .images img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    img {
        border-radius: 10px 10px 0 0;
    }
}